<%- include("header") -%>
<h2 style="text-align:center; margin-top: 80px; font-family: 'Nanum Gothic', sans-serif;">What is this?</h2>
<div style="text-align:center; margin-top: 30px">
<h6>This website is designed as a challenge for the shopify 2021 summer backend development internship.</h6>
<h6>My name is Eisa and I'm a fourth year, graduating computer science student. I'm interested in software</h6>
<h6>and applications of artificial intelligence in the industry.</h6>
<img class="me" src="/me.png">
</div>
<%- include("foot") -%>