
body{
    background-color: #DCDCDC !important;
}


.form {
    margin-top: 80px;
    background-color: 	#B0B0B0;
    border-radius: 10px;
    padding: 20px;
    color: #505050;
}
.form2 {
    margin-top: 40px;
    background-color: 	#B0B0B0;
    border-radius: 10px;
    padding: 20px;
    color: #505050;
}
.repo{
    font-family: 'Nanum Gothic', sans-serif;
    padding: 10px;
}

.form-item{
    margin: 10px;
}

.search{
    width: 25px;
    height: 25px;
}

.panel{
    background-color: #B0B0B0;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.img-panel{
    max-height: 300px;
    max-width: 300px;
}

.text-panel{
    padding: 50px;
    text-align: center;
}

.me{
    width: 250px;
    height: 250px;
}

